@charset "utf-8";
/*搜索css*/


			
#div1{position: ;border: blanchedalmond;width: 50px;height:;}
#div2{position: ;border: blanchedalmond;width: 100px;height:;}
#header{margin: 0 auto;width: 760px;}
#div3{
	width: 400px;
	height: 300px
}/*空白框架*/
#div4{display: inline}/*并行*/
#div5{width:100%;height: 90px;}
.bt{font-family: arial,sans-serif;font-size: 50px;color:#978303;padding-bottom: 4px;border-bottom: 2px solid #02AAB8;}
.c1{color: #B3EE31;}
.c2{color: #71C672;}
.c3{color: #00F500;}
.C4{color: #00EE00:}/*文字颜色*/
.rounded{background: aliceblue;top: left no-repeat;width: 98%;border-radius: 1%;margin: auto;}
.rounded h2 {background:#747474;padding:20px 20px 10px;margin: 0;}
.rounded .main{
	background:#3391B8;top: right repeat-y;padding: 10px 20px;margin: -20px 0 0;/*文本背景*/
}
.rounded .footer{
	background:#D0D0CD;bottom: left no-repeat;
}

.rounded .footer p {
	color: red;text-align: right;background:#D0D0CD bottom right no-repeat;display: block;
	padding: 10px 20px 20px;margin: -20px 0 0 0;font: 0/0;
}
